name: Java CI

on: [push]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v1
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Show Working Directory
      run: pwd
